<style>
.s{
  margin-left:500px;
  margin-right:500px
}
</style>



<%= form_with(model: nepremicnine, local: true) do |form| %>
  <% if nepremicnine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nepremicnine.errors.count, "error") %> prohibited this nepremicnine from being saved:</h2>

      <ul>
        <% nepremicnine.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="s">
  <div class="form-group">
    <%= form.label :name %>:
    <%= form.text_field :name, class: "form-control", :required => true %>
  </div>

  <div class="form-group">
    <%= form.label :address %>:
    <%= form.text_field :address, class: "form-control", :required => true  %>
  </div>

  <div class="form-group">
    <%= form.label :price %>:
    <%= form.number_field :price, class: "form-control", "min" => 1, :required => true  %>
  </div>

  <div class="form-group">
    <%= form.label :rooms %>:
    <%= form.number_field :rooms, class: "form-control", "min" => 1, :required => true %>
  </div>

  <div class="form-group">
    <%= form.label :bathrooms %>:
    <%= form.number_field :bathrooms, class: "form-control", "min" => 1,  :required => true %>
  </div>


  <div class="form-group">
    <%= form.label :parking_spaces %>:
    <%= form.number_field :parking_spaces, class: "form-control", "min" => 0 %>
  </div>


  <div class="form-group">
    <%= form.label :photo %>:
    <%= form.text_field :photo, class: "form-control", :required => true  %>
  </div>

  <div class="actions" align=center>
    <%= form.submit "Save",   class: "btn btn-lg  btn-success" %>
  </div>
</div>
<% end %>
