
<% @nepremicnines.each do |nepremicnine| %>


<div class="card-deck">
    <div class="card">
        <a href="<%= nepremicnine_path(nepremicnine) %>"><img src="<%= nepremicnine.photo %>" width="50" height="200" class="card-img-top"></a>
            <div class="card-body">
                <h3 class="card-title"><%= nepremicnine.name %></h3>
                <div class="aminities">
                <span ><%= nepremicnine.rooms%> <img src="https://img.icons8.com/ios-filled/50/000000/empty-bed.png" width="20"/> </span>
                <span style="margin-left:10px" >  <%= nepremicnine.bathrooms%> <img src="https://img.icons8.com/pastel-glyph/64/000000/bath--v1.png" width="20"/></span>
                <span style="margin-left:10px" ><%= nepremicnine.parking_spaces%> <img src="https://img.icons8.com/ios-filled/50/000000/parking.png" width="20"/> </span>
            </div>
                <p class="card-text"><%= nepremicnine.address%></p>
    </div>
</div>



<% end %>