<style>
.t{
 margin-left:10px;
}
</style>
<div class=t>

<h1>Nepremicnine</h1>
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Price</th>
      <th>Rooms</th>
      <th>Bathrooms</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nepremicnines.each do |nepremicnine| %>
    <%if current_user.id == nepremicnine.user.id %>
      <tr>
        <td><%= nepremicnine.name %></td>
        <td><%= nepremicnine.address %></td>
        <td><%= nepremicnine.price %>$</td>
        <td><%= nepremicnine.rooms %></td>
        <td><%= nepremicnine.bathrooms %></td>
        <td><%= link_to 'Show', nepremicnine, class: "btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_nepremicnine_path(nepremicnine), class: "btn btn-primary" %></td>
        <td><%= link_to 'Destroy', nepremicnine, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj Nepremicnino', new_nepremicnine_path, class: "btn btn-success" %>
<div>
