
<p id="notice"><%= notice %></p>

<h1>Nepremicnines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Price</th>
      <th>Rooms</th>
      <th>Bathrooms</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nepremicnines.each do |nepremicnine| %>
      <tr>
        <td><%= nepremicnine.name %></td>
        <td><%= nepremicnine.address %></td>
        <td><%= nepremicnine.price %></td>
        <td><%= nepremicnine.rooms %></td>
        <td><%= nepremicnine.bathrooms %></td>
        <td><%= link_to 'Show', nepremicnine %></td>
        <td><%= link_to 'Edit', edit_nepremicnine_path(nepremicnine) %></td>
        <td><%= link_to 'Destroy', nepremicnine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nepremicnine', new_nepremicnine_path %>
